<nav class="navbar btn-primary">
  <h2><a routerLink="/admin">Online Shop</a></h2>
  <ul>
    <li routerLinkActive="active"><a (click)="setType('phone')">Phone</a></li>
    <li routerLinkActive="active"><a (click)="setType('tablet')">Tablet</a></li>
    <li routerLinkActive="active"><a (click)="setType('laptop')">Laptop</a></li>
    <li routerLinkActive="active">
      <a routerLink="/cart" (click)="setType('cart')">Cart</a>
    </li>
  </ul>
</nav>


<div class="container">
  <router-outlet></router-outlet>
</div>
