<div class="card">
  <h2>About Extra</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A assumenda aut deleniti dignissimos distinctio ducimus
    modi quaerat quisquam repellat similique.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores assumenda atque dolorum ducimus incidunt ipsa
    ipsam non perferendis, provident quisquam repudiandae sapiente sunt temporibus, ullam.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur deleniti ea eius quam. Culpa id
    necessitatibus sed sunt.</p>
</div>
