<div *ngIf="form; else loading">
  <form [formGroup]="form" (ngSubmit)="submit()">

    <h2 class="text-center">Edit product</h2>

    <!--  type choose-->
    <div class="form-control">
      <label for="type">Type:</label>
      <select name="type" id="type" formControlName="type">
        <option value="phone">Phone</option>
        <option value="tablet">Tablet</option>
        <option value="laptop">Laptop</option>
      </select>
      <div *ngIf="form.get('type').touched && form.get('type').invalid" class="validation">
        <small *ngIf="form.get('type').errors.required">Choose product type</small>
      </div>
    </div>
    <!--  title input-->
    <div class="form-control">
      <label for="title">Name:</label>
      <input id="title" type="text" formControlName="title">
      <div *ngIf="form.get('title').touched && form.get('title').invalid" class="validation">
        <small *ngIf="form.get('title').errors.required">Enter name product</small>
      </div>
    </div>
    <!--  photo input-->
    <div class="form-control">
      <label for="photo">Photo:</label>
      <quill-editor formControlName="photo"></quill-editor>
    </div>
    <!--  title input-->
    <div class="form-control">
      <label for="info">Information:</label>
      <quill-editor formControlName="info"></quill-editor>
    </div>
    <!--  price input-->
    <div class="form-control">
      <label for="price">Price:</label>
      <input id="price" type="text" formControlName="price">
      <div *ngIf="form.get('price').touched && form.get('price').invalid" class="validation">
        <small *ngIf="form.get('price').errors.required">Enter name product</small>
      </div>
    </div>


    <!--  submit form-->
    <button
      type="submit"
      class="btn btn-primary btn-block"
      [disabled]="form.invalid || submitted"
    >Update product</button>

  </form>
</div>


<ng-template #loading>
  <h2 class="text-center">Loading...</h2>
</ng-template>
