<form [formGroup]="form" (ngSubmit)="submit()">

  <h2>Login as administrator</h2>

  <!--  email input-->
  <div class="form-control">
    <label for="email">Email:</label>
    <input id="email" type="email" formControlName="email">
    <div *ngIf="form.get('email').touched && form.get('email').invalid" class="validation">
      <small *ngIf="form.get('email').errors.required">Please enter email</small>
      <small *ngIf="form.get('email').errors.email">Please enter valid email</small>
    </div>
  </div>
  <!--  password input-->
  <div class="form-control">
    <label for="password">Password:</label>
    <input id="password" type="password" formControlName="password">
    <div *ngIf="form.get('password').touched && form.get('password').invalid" class="validation">
      <small *ngIf="form.get('password').errors.required">Please enter password</small>
      <small *ngIf="form.get('password').errors.minlength">
        Password must be at least {{ form.get('password').errors.minlength.requiredLength }}
        characters. Now he {{ form.get('password').errors.minlength.actualLength }}
      </small>
    </div>
  </div>

  <!--  submit form-->
  <button
    type="submit"
    class="btn btn-primary btn-block"
    [disabled]="form.invalid || submitted"
  >Login</button>

</form>
