.card {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 25%;
  margin: 5px;
  padding-left: 20px;
}
.card-title {
  font-size: 2rem;
  margin-bottom: -10px;
}
.card-text {
  font-style: italic;
  font-weight: bold;
}
